
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section white">
    <div class="container">
        <h2 class="header center-align" id="about">Holiday Site</h2>
        <div class="row">
            <div class="col m4 center-align">
                <i class="material-icons large">supervisor_account</i>
                <h4>With you all the way</h4>
                <p>
                    Our holidays are fully protected with our COVID cover and travel
                    With confidence with 24 hour support via our holiday line
                </p>
            </div>
            <div class="col m4 center-align">
                <i class="material-icons large">payments</i>
                <h4>Affordable prices</h4>
                <p>
                    Our products cover a range of prices suitable for all budgets.
                </p>
            </div>
            <div class="col m4 center-align">
                <i class="material-icons large">terrain</i>
                <h4>Unforgettable Experiences</h4>
                <p>
                    From big wows to hidden gems, our tours leave you feeling that
                    you've really explored.
                </p>
            </div>
        </div>
        <div class="section center-align">
            <h4>About Us</h4>
            <p>
                We are a award-winning travel-agency that has been committed to
                bringing our clients the best in value and quality travel
                arrangements. We are passionate about travel and sharing the world's
                wonders on the leisure travel side.
            </p>
            <p>
                When it comes to booking a holiday, we know everyone likes something
                different - so we've designed our getaways with you in mind from all
                reaches of the globe.
            </p>
        </div>
    </div>
    <div class="section red lighten-2 z-depth-2">
        <h4 class="center-align white-text">Follow Us</h4>
        <h5 class="center-align white-text">Follow us on social media</h5>
        <div class="section">
            <div class="section white center-align z-depth-2">
                <a href="https://www.instagram.co.uk">
                    <i class="fab fa-instagram large"></i>
                </a>
                <a href="https://www.facebook.co.uk">
                    <i class="fab fa-facebook-square large blue-text text-darken-2"></i>
                </a>
                <a href="https://www.twitter.co.uk">
                    <i class="fab fa-twitter-square large blue-text"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container center-align">

        <a href="#" class="btn large" id="goTOTOP"><i class="material-icons">keyboard_arrow_up</i> Back to top</a>
    </div>